name: build our image

on:
  push:
    branches: main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout code
        uses: actions/checkout@v2
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
        with:
          version: latest
      - name: build the image
      run: |
        docker buildx build \
          --tag xxacielxx/rutorrent:latest \
          --platform linux/amd64,linux/arm/v7,linux/arm64 . 
